accelerate==1.4.0
anaconda-anon-usage==0.4.4
anaconda-catalogs==0.2.0
anaconda-cloud-auth==0.5.1
anaconda-navigator==2.6.3
anaconda-project==0.11.1
appdirs==1.4.4
astropy==6.1.3
autopep8==2.0.4
backports.tarfile==1.2.0
bcrypt==3.2.0
bottleneck==1.3.7
brotli==1.0.9
causal-learn==0.1.4.1
colorama==0.4.6
conda-build==24.9.0
conda-repo-cli==1.0.114
conda-token==0.5.0+1.g2209e04
cvxpy==1.6.5
cython==0.29.37
cytoolz==0.12.2
dask-expr==1.1.13
datashader==0.16.3
db-dtypes==1.4.3
distributed==2024.8.2
dmglib==0.9.5
dotenv==0.9.9
dowhy==0.8
econml==0.15.1
evaluate==0.4.3
flake8==7.0.0
flask==3.0.3
fqdn==1.5.1
gensim==4.3.3
git-filter-repo==2.47.0
greenlet==3.0.1
groq==0.24.0
h5py==3.11.0
heapdict==1.0.1
hvplot==0.11.0
ijson==3.4.0
imagecodecs==2023.1.23
imbalanced-learn==0.12.3
importlib-resources==6.4.0
inflect==7.3.1
isoduration==20.11.0
jaraco-functools==4.3.0
jaraco.collections==5.1.0
jupyter==1.0.0
jupyter-contrib-nbextensions==0.7.0
lckr-jupyterlab-variableinspector==3.1.0
lmdb==1.4.1
lz4==4.3.2
mypy==1.11.2
navigator-updater==0.5.1
nltk==3.9.1
openpyxl==3.1.5
pip-chill==1.0.3
plotly==5.24.1
polars==1.26.0
pycurl==7.45.3
pydocstyle==6.3.0
pygraphviz==1.14
pyodbc==5.1.0
pysocks==1.7.1
pytest==7.4.4
pywavelets==1.7.0
rope==1.12.0
ruamel-yaml-conda==0.17.21
ruff==0.12.7
s3fs==2024.6.1
scikit-image==0.24.0
scrapy==2.11.1
seaborn==0.13.2
sip==6.7.12
spyder==5.5.1
sqlalchemy==2.0.34
streamlit==1.37.1
tables==3.10.1
transformers==4.44.2
unicodedata2==15.1.0
unidecode==1.3.8
uri-template==1.3.0
webcolors==24.11.1
whatthepatch==1.0.2
xgboost==3.0.0
xlwings==0.32.1
yapf==0.40.2
